[submodule "Libs/Messenger"]
	path = Libs/Messenger
	url = https://github.com/outlawdesigns-io/Messenger
[submodule "Libs/Api"]
	path = Libs/Api
	url = https://github.com/outlawdesigns-io/Api
[submodule "Libs/JwksTokenValidator-PHP"]
	path = Libs/JwksTokenValidator-PHP
	url = https://github.com/outlawdesigns-io/JwksTokenValidator-PHP
