services:
  backend:
    image: messengerservice-php8.2
    environment:
      TZ: America/Chicago
      ALLOW_OVERRIDE: true
      MYSQL_HOST: $DOCKER_MYSQL_HOST
      MYSQL_USER: $DOCKER_MYSQL_USER
      MYSQL_PASSWORD: $DOCKER_MYSQL_PASS
      SMTP_HOST: $DOCKER_SMTP_HOST
      SMTP_PORT: $DOCKER_SMTP_PORT
      SMTP_USER: $DOCKER_SMTP_USER
      SMTP_PASS: $DOCKER_SMTP_PASS
      APP_LOG_PATH: /mnt/LOE/log/messenger.access.log
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - '9667:80'
    volumes:
      - /tmp/logs/:/mnt/LOE/log
